.fw-normal {
  font-weight: 400;
}

.fw-normal1 {
  font-weight: 500;
}

.fw-normal2 {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-bold2 {
  font-weight: 800;
}

.fw-bold3 {
  font-weight: 900;
}

.fs-normal {
  font-size: 14px;
}

.fs-small {
  font-size: 12px;
}

.btn-group-toggle input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.btn__round {
  border-radius: 40px;
  color: #0a4c94;
  background: #d1f0ff;
}

.text-secondary {
  /* background: #7a8186; */
}
